svg {
    width: 2rem;
    margin-top: 0.5rem;
    color: var(--bg-primary);
}

mat-form-field {
    margin-left: 0.7rem;
    width: 8rem;
}

button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.6rem;
}

.title {
    display: ruby;
}

.createAccount button {
    left: 2.5rem;
    position: relative;
}

.details button {
    left: 0.5rem;
    position: relative;
}

.submit {
    display: block;
    width: 100%;
    margin-top: 0.7rem;
    margin-left: 0.8rem;
}

.error-messages {
    height: 1.5rem;
    display: flex;
    flex-direction: row;
}
mat-button-toggle-group {
    margin-left: 0.7rem;
}

span {
    margin-left: 2.2rem;
    display: inline-block;
}

p {
    margin: 0;
}

.spinner {
    width: 20.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    border-radius: 1%;
    z-index: 500;
}

.user-spinner {
    height: 34.5rem;
}

.trader-spinner {
    height: 38rem;
}

.mat-card mat-divider {
    margin-left: 1rem;
    width: 18rem;
}

.mat-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18.5rem;
}

form mat-divider {
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 18rem;
}

.headings {
    margin-left: 0.7rem;
    margin-bottom: 0.6rem;
}

h3 {
    width: 8rem;
}

.error {
    margin-bottom: 0;
    color: red;
    padding-left: 0.4rem;
}

.upload {
    display: inline-block;
}

mat-spinner {
    z-index: 1000;
    position: absolute;
    left: 7rem;
    top: 14rem;
}
