<body>
    <mat-toolbar color="primary">
        <span *ngIf="!trader">Chat with {{chat.companyName}}</span>
        <span *ngIf="trader">Chat with {{chat.jobTitle}} job owner</span>
    </mat-toolbar>

    <div class="newMessage">
    <div *ngIf="chat" class="chatContainer">
        <div  *ngFor="let message of chat.messages; let i=index">
            <div class="chatMessage" [ngClass]="{'self': message.posterUid == chat.traderUid}">
                <div *ngIf="message.posterUid == chat.traderUid">
                    <div class="traderText">
                        <p>{{message.message}}
                            <br/>
                        <span class="time">{{message.sentDate | date:'shortTime'}}</span>
                        </p>
                    </div>
                    <img src="{{chat.companyPicture}}">
                </div>
                <div *ngIf="message.posterUid == chat.userUid">
                    <img src="{{chat.jobPicture}}">
                    <div class="userText">
                        <p >{{message.message}}
                            <br/>
                        <span class="time">{{message.sentDate | date:'shortTime'}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <mat-form-field appearance="outline">
            <mat-label>New Message...</mat-label>
            <input matInput placeholder="message" [(ngModel)]="chatMessage"  (keyup.enter)="postChat()">
                <svg (click)="postChat()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
                    <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
        </mat-form-field>
    </div>
</body>