<div class="screen-dim">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Company Details:</mat-card-title>
            <button class="exit" mat-button color="primary" (click)="dismissComponent()">cancel</button>
        </mat-card-header>
        <img mat-card-image [src]="currentImage">
        <mat-card-content>
            <ul>
                <li>Name: <span>{{company.companyName}}</span></li>
                <li>Review Score: <span>{{company.reviewScore}}</span></li>
                <li>Phone Number: <span>{{company.phoneNumber}}</span></li>
                <li>Postcode: <span>{{company.postcode}}</span></li>
                <li>Trade Type: <span>{{company.tradeType}}</span></li>
                <li>Email Address: <span>{{company.email}}</span></li>
                <li>Description: <p>{{company.description}}</p></li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="moveImageIndex(negativeIncrement)">Last Picture</button>
            <button mat-button color="primary" (click)="moveImageIndex(positiveIncrement)">Next Picture</button>
        </mat-card-actions>
    </mat-card>
</div>