.screen-dim {
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    margin-left: -10%;
    width: 100%;
    position: fixed;
}

.exit {
    position: absolute;
    right: 1rem;
    top: 0.6rem;
}

mat-card {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
}

ul {
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: none;
}

li {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #ccc;
}

li span {
    float: right;
}

li:last-child {
    border: none;
}

mat-card-actions button {
    width: 45%
}

/*Change job details bar for horizontal navbar*/

@media only screen and (max-width: 600px) {
    .screen-dim {
        margin-top: -12%;
    }
}

/*Change information layout for vertical navbar*/
@media only screen and (min-width: 600px) {
    .screen-dim {
        margin-left: -10%;
    }
}