.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.statusBar {
    background-color: green;
}

.headInfoBar {
    padding-top: 0.5rem;
    padding-left: 1rem;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}

.headInfoBar h2, h5 {
    margin-right: 2rem;
    display: inline-block;
}

.buttonLinks {
    width: 45rem;
    height: 2rem;
    display: flex;
}

.mapContainer {
    width: 100%;
    height: 10 rem;
}

.icons {
    display: flex;
}

.icons span{
    display: flex;
    align-items: center;
}

.iconSVG-disabled {
    cursor: pointer;
    margin-right: 2rem;
    color: grey;
    transition: var(--transition-speed);
}

.iconSVG {
    cursor: pointer;
    margin-right: 2rem;
    color: var(--bg-secondary);
    transition: var(--transition-speed);
}

.iconSVG:hover {
    color: var(--bg-primary);
    transition: var(--transition-speed);
}

.send-front {
    position: relative;
    z-index: 500;
    margin-left: 10%;
}

.component-card {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.jobDetailsContainer {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.secondaryInfo {
    padding: 1rem;
    margin-left: 1rem;
    width: 30%;
    height: 100%;
}

.secondaryInfo span {
    padding-bottom: 0.5rem;
}
.infoImg {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 26%;
    height: 100%;
}

.infoImg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    max-width: 95%;
    max-height: 18rem;
}

.quotesListContainer {
    margin-right: 1rem;
    padding: 1rem;;
    width: 30%;
    height: 100%;
    position: relative;
}

.quotesListContainer button {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}


.backgroundGreyColour {
    /* background-color: rgb(174, 174, 174); */
}

.imageBackground {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 95%;
    min-height: 20%;
}

.radio-group {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 30%;
    overflow-y: auto;
}

.radio-button {
    margin: 0.4rem;
    margin-left: 1.5rem;
}

h2, h5 {
    margin-top: 0%;
    margin-bottom: 0;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

ul {
    padding-left: 2rem;
    padding-right: 4rem;
    list-style-type: none;
}

li {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #ccc;
}

li span {
    float: right;
}

li:last-child {
    border: none;
}