.card {
    width: 35rem;
    height: 36rem;
    background-color: white;
    border-radius: 5%;
    z-index: 500;
    box-shadow: 0.4rem 0.4rem 0.2rem grey;
    /* margin-left: 15rem; */
    position: relative;
}

.cardTitle{
    display: ruby;
}

.buttons {
    position: relative;
    bottom: 14rem;
    padding: 2%;
}

.exit {
    position: absolute;
    right: 1.5rem;
    top: 0.6rem;
}

.icon {
    position: relative;
    left: 6rem;
    top: 5.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.border {
    border: 2px solid var(--bg-primary);
}

.add-image {
    width: 14rem;
    height: 13rem;
    background-color: lightgray;
    border-radius: 5%;
    left: 17.5rem;
    position: relative;
    bottom: 22rem;
    cursor: pointer;

}

.image-heading {
    padding-left: 6rem;
}

.sub-headings {
    margin-left: 4%;
    clear: both;
    display: inline-flex;
}

.title {
    margin-left: 2rem;
}

.submit {
    display: block;
    width: 95%;
    margin-top: 0.7rem;
    margin-left: 0.8rem;
}

.error {
    margin-left: 1.5rem;
    margin-top: 0rem;
    color: red;
}

button {
    width: 6rem;
    height: 2.5rem;
    margin: 2%;
    position: relative;
}

button #cancel {
    right: 1rem;
}

mat-divider {
    margin-top: 0.3rem;
    margin-right: 4%;
    margin-left: 4%;
}

svg {
    height: 2rem;
    width: 2rem;
}

h2 {
    margin-left: 4%;
}

mat-form-field {
    width: 14rem;
    margin-left: 1.5rem;
}

img {
    max-width: 95%;
    max-height: 95%;
    margin: 2.5%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}