.card {
    width: 35rem;
    height: 36rem;
    background-color: white;
    border-radius: 5%;
    z-index: 500;
    box-shadow: 0.4rem 0.4rem 0.2rem grey;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-heading {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.spinner {
    z-index: 500;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
}

.add-image-sub {
    margin-left: 5rem;
}

.card-title {
    display: ruby;
}

.exit {
    position: absolute;
    right: 1.5rem;
    top: 0.6rem;
}

.icon {
    position: relative;
    left: 6rem;
    top: 5.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.border {
    border: 2px solid var(--bg-primary);
}

.add-image {
    width: 14rem;
    height: 13rem;
    background-color: lightgray;
    border-radius: 5%;
    margin-left: 1.5rem;
    cursor: pointer;

}

.submit {
    display: block;
    width: 95%;
    margin-top: 0.7rem;
    margin-left: 0.8rem;
}

.error {
    margin-left: 1.5rem;
    margin-top: -0.3rem;
    color: red;
}

button {
    width: 6rem;
    height: 2.5rem;
    margin: 2%;
    position: relative;
}

button #cancel {
    right: 1rem;
}

mat-divider {
    margin-top: 0.3rem;
    margin-right: 4%;
    margin-left: 4%;
}

svg {
    height: 2rem;
    width: 2rem;
}

h2, h4 {
    margin-left: 1.5rem;
}

mat-form-field {
    width: 14rem;
    margin-left: 1.5rem;
}

img {
    max-width: 95%;
    max-height: 95%;
    margin: 2.5%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*Change new-job for horizontal navbar*/
@media only screen and (max-width: 600px) {
    .card {
        margin-bottom: 10rem;
        width: 20rem;
        height: 40rem;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 3%;
    }

    .exit {
        top: 0rem;
        right: 0rem;
    }

    .buttons {
        position: relative;
        width: 93%;
        padding: 2%;
    }

    .add-image {
        margin-left: 2.8rem;
    }

    .add-image-sub {
        display: none;
    }

    .error {
        margin-top: 0.3rem;
        margin-bottom: 0;
    }

    .spinner {
        height: 58rem;
        border-radius: 2%;
    }

    mat-form-field {
        width: 17rem;
    }

    form {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    mat-spinner {
        z-index: 1000;
        position: absolute;
        left: 7rem;
        top: 32rem;
    }
}
/*Change new-job for vertical navbar*/
@media only screen and (min-width: 600px) {
    .buttons {
        position: relative;
        bottom: 15rem;
        padding: 2%;
    }

    .title {
        margin-left: 2rem;
    }

    .add-image {
        left: 16rem;
        position: relative;
        bottom: 22rem;
    }

    .image-heading {
        position: relative;
        left: 16rem;
        bottom: 26.5rem;
    }

    .spinner {
        height: 100%;
        border-radius: 5%;
    }
    
    mat-spinner {
        z-index: 1000;
        position: absolute;
        left: 14rem;
        top: 15rem;
    }
}