.list-item:hover {
    background-color: rgb(215, 242, 255);
}

.list-item {
    position: relative;
    margin: 1rem;
}

.list-item .text {
    position: absolute;
    left: 4rem;
    top: 0.3rem;
    z-index: 5;;
}

.extra-spacing {
    top: 0.8rem;
    margin-bottom: 1.6rem;
}

.list-item .image {
    width: 3rem;
    height: 3rem;
    background-color: grey;
}

.list-item h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.search {
    z-index: 100;
}

img {
    position: relative;
    top:0.4rem;
    max-width: 100%;
    max-height: 100%;
    z-index: 5;
}

mat-form-field {
    z-index: 10;
    position: fixed;
    width: 97%;
    margin-left: 1.5%;
    margin-top: 1%;  
}

mat-icon {
    position: absolute;
    right: 6rem;
    top: 0.7rem;
    z-index: 5;
}

span {
    margin-left: 1rem;
    color: grey;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height:100vh;
    position: fixed;
}


@media only screen and (min-width: 600px) {
    .chatsContainer {
        height: 80vh;
        overflow-y: scroll;
        margin-top: 5rem;
    }
    

}

/*Change new message bar for horizontal navbar*/
@media only screen and (max-width: 600px) {
    .chatsContainer {
        height: 80vh;
        overflow-y: scroll;
        margin-top: 5rem;
    }
    

    mat-icon {
        display: none;
    }
}