<mat-toolbar color="primary">
    <span>My Page</span>
</mat-toolbar>
<div class="profilePic" *ngIf="user">
    <img [src]="user.photoURL">
</div>
<div class="info-container">
    <div class="user-info">
        <div class="account-info-heading">
            <h3>Account Information</h3>
            <div class="edit-button">
                <mat-slide-toggle disabled="{{disabledUserForm}}" (change)="userFormToggle()"
                    [(ngModel)]="editUserDetails" [color]="userSliderColour">edit</mat-slide-toggle>
            </div>
        </div>
        <form [formGroup]="userInfoForm">
            <div class="names">
                <mat-form-field>
                    <input #firstName matInput placeholder="First Name" formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field>
                    <input #LastName matInput placeholder="Last Name" formControlName="lastName" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input #emailAddress matInput type="email" placeholder="Enter email" formControlName="emailAddress"
                        required>
                    <mat-error>Must be a valid email address</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input #nickName matInput placeholder="Nickname" formControlName="nickname" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input #phoneNumber type="tel" matInput placeholder="Phone number" formControlName="phoneNumber"
                        required>
                    <mat-error>Must be of length 11</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input #postcode matInput placeholder="postcode" formControlName="postcode" required>
                    <mat-error>Min Length 6, Max Length 8</mat-error>
                </mat-form-field>
            </div>
            <span class="customErrorText UserInfoError" *ngIf="showCustomErrorUserInfo">*{{customErrorText}}</span>
            <div class="upload">
                <button type="button" mat-button (click)="onClickUserInfo()">Upload New Profile Picture <mat-icon>
                        file_upload
                    </mat-icon>
                </button>
                <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept=".png, .jpg"
                    style="display:none;" />
            </div>
        </form>
    </div>
    <div class="company-info">
        <div class="company-info-heading">
            <h3>Company Information</h3>
            <div class="edit-button">
                <mat-slide-toggle disabled="{{disabledCompanyForm}}" (change)="CompanyFormToggle()"
                    [(ngModel)]="editCompanyDetails" [color]="companySliderColour">edit</mat-slide-toggle>
            </div>
        </div>
        <form [formGroup]="companyInfoForm">
            <div>
                <mat-form-field>
                    <input #emailAddress matInput type="email" placeholder="Enter email" formControlName="emailAddress"
                        required>
                    <mat-error>Must be a valid email address</mat-error>
                </mat-form-field>
                <ng-container *ngIf="trader">
                    <mat-form-field>
                        <mat-label>Trade Required</mat-label>
                        <mat-select formControlName="tradeType" [required]="trader">
                            <mat-option *ngFor="let trade of trades" [value]="trade">
                                {{trade}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
            <div>
                <mat-form-field>
                    <input #companyName matInput placeholder="Company Name" formControlName="companyName" required>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

