<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div *ngIf="auth.user$ | async as authed; else guest">
    <h1>authed</h1>
    {{authed.user$}}
    <div *ngIf="auth.user$ | async as user">
        <h3>Hi, {{user.displayName}}</h3>
        <img [src]="user.photoURL">
        <p>UID: {{user.uid}}</p>
        <p>Review Score: {{user.reviewScore}}</p>
        <button (click)="auth.signOut()" mat-raised-button>Logout</button>
    </div>
</div>

<ng-template #guest>
    <h3>Hi, Guest</h3>
    <p>Login to get started...</p>

    <mat-form-field>
        <input matInput placeholder="email" [(ngModel)]="email">
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput type="password" placeholder="password" [(ngModel)]="password">
    </mat-form-field>
    <br/>
    <button (click)="auth.createAccount(email, password)" mat-raised-button>Create Account</button>
    <button (click)="auth.emailAndPasswordSignin(email, password)" mat-raised-button>Login</button>
    <br/>
    <br/>
    <br/>
    <button (click)="auth.googleSignin()" mat-raised-button>
        <i class="fa fa-google"></i> Connect Google
    </button>

    <button (click)="auth.facebookSignin()" mat-raised-button>
        <i class="fa fa-facebook-square"></i> Connect Facebook
    </button>

    <button (click)="auth.githubSignin()" mat-raised-button>
        <i class="fa fa-github" aria-hidden="true"></i> Connect Github
    </button>

    <button (click)="auth.microsoftSignin()" mat-raised-button>
        <i class="fa fa-windows"></i> Connect Microsoft
    </button>
</ng-template>


